.menu_block {
  font-size: 36px;
  color: black;
}

.menu_block a {
  padding: 10px;
  text-decoration: none;
  color: black;
}

.menu_block a:hover{
    color: orange;
}

.activeLink{
    color:orange
}